footer {
text-align: right;
font-size: smaller;
background-color: #5e746c;
color: white;
position: fixed;
width: 100%;
bottom: 0;
left: 0;
height: 60px;
padding-right: 10px;
}

footer a {
    color: #F8B8A9;
    text-decoration: none;
}

.body-content {
    padding: 110px;
}

.body-content-contact {
    padding: 110px;
    text-decoration: none;
    text-align: center;
}
.hero-header {
    text-align: center;
    font-size: 5em;
    font-weight: 800;
    padding-top: 200px;
}

.hero-subheader {
    text-align: center;
    font-size: 2em;
    font-weight: 200;
    color: #B1C0B6;
    margin-bottom: 80px;
}

.about {
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #FBEAE1;
    margin: 20px, 5px;
}

.section {
    margin-top: 75px;
    margin-bottom: 75px;
}

.section-resume {
    margin-top: 75px;
    margin-bottom: 75px;
}

.section-resume img {
    height: 90px;
    width: auto;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    -webkit-filter: grayscale(35%); 
    filter: grayscale(35%);
}

.intro-image img {
    width:270px;
    height:270px;
    object-fit:cover;
}

.about-me-img img {
    border-radius: 50%;
}

.about-me-img {
    text-align: center;
    padding: 30px;
}

.about-me-img a {
    color:#F8B8A9;
    text-decoration: none;
}

.button {
    background-color: #5E746C; 
    border: 2px solid #5E746C;
    padding: 16px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.card img {
    -webkit-filter: grayscale(35%); 
    filter: grayscale(35%);
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 400px; /* Full width */
    text-align: left;
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    padding: 20px;
  }